<br><br><br>
<p class="middleHeader">Tarkvaraarenduse projektist</p>
<div class="rectangle"></div>
<br><br>

<div class="grid-container">
    <div class="grid-item1">
        <ul>
            <li>Tegu on toetava lehega kursusele “Tarkvaraarenduse projekt” , mis on kohustuslik kõikidele informaatika tudengitele. Kursuse käigus moodustavad tudengid projektimeeskonna ja tarkvaraprojekti-idee, millega ta poolaasta vältel arendatakse. Neid projekti-ideid, ootame just Sinult!</li>
            <li>Oma tarkvaravajadusest võid meile teate jätta aataringselt. </li>
            <li>Projektide valimine algab talvel. Projektiga hakatakse kohe ka tegelema kursustel “interatsioonidisain” ning “sissejuhatus infosüsteemidesse”.</li>
            <li>Kursusel "Interaktsioonidisain" tehakse konkuretsianalüüs, testitakse persoonad ja kasutajalood ning tehakse valmis prototüüp. Sellel kursusel on väga oluline ka kliendi toetus, sest kõike tuleb testida ning tagasisidet anda.</li>
            <li>Kursusel “Sissejuhatus infosüsteemidesse” tegeletakse infosüsteemi arendamisega. Siin aines ei ole vaja kliendi abi, kuid valmis töö on põhjalik, seega võib olla suureks abiks kliendile.</li>
            <li>Juunis toimub kaks nädalat intensiivset tarkvaraarenduse maratoni, kus on taas tarvis kliendilt sisendit. Selle tulemusel valmib tarkvaraprojekt, mille saab kliendile üle anda. </li>
            <li>Seega, hea potentsiaalne klient, palun kirjuta meile oma huvitavast ideest ning meie anname endast parima, et see üheskoos teoks teha!</li>
        </ul>
    </div>
    <div class="grid-item2">
        
        
        <mat-faq [faqList]="list"></mat-faq>
    </div>
    
</div>


<br>
<br>

<mat-divider _ngcontent-c1="" class="mat-divider mat-divider-horizontal" role="separator" aria-orientation="horizontal">
</mat-divider>