<br><br>
<div class="text-center-header">Esita meile oma projekti-idee!</div>
<br>
<div class="rectangle"></div>
<br><br>

<div class="grid-container">
    <div class="grid-item1 box-width">
        <form (ngSubmit)="onAddNewProject(newProjectForm)" #newProjectForm="ngForm">
            <div class="form-group half">
                <label>Projekti nimi: <span class="requiredRed">*</span></label>
                <input ngModel name="project_name" type="text" class="form-control" id="project_name" required>
            </div>
            <div class="form-group">
                <label>Projekti lühikirjeldus: <span class="requiredRed">*</span></label>
                <textarea ngModel name="description" type="text" class="form-control" id="description" required></textarea>
            </div>
            <div class="form-group">
                <label>Kuidas saan toetada tudengit:</label>
                <textarea ngModel name="support" type="text" class="form-control" id="support"></textarea>
            </div>
            <div class="form-group">
                <label>Kas soovid veel midagi lisada?</label>
                <textarea ngModel name="additional" type="text" class="form-control" id="additional"></textarea>
            </div>
            <div class="form-group half">
                <label>Nimi: <span class="requiredRed">*</span></label>
                <input ngModel name="name" type="text" class="form-control half" id="name" required>
            </div>
            <div class="form-group half">
                <label>Email address: <span class="requiredRed">*</span></label>
                <input ngModel name="email" type="email" class="form-control" id="email" required>
            </div>
            <div class="form-group half">
                <label>Telefoninumber:</label>
                <input ngModel name="phone" type="tel" class="form-control half" id="phone">
            </div>
            <button [disabled]="!newProjectForm.valid" class="btn btn-dti mt-3">SAADA</button>
        </form>
    </div>
    <div class="grid-item2">
        <h2>Projekti-idee checklist</h2>
        <p>1. Projektiidee on realistlik ning piisava mahuga</p>
        <p>2. Varun aega projektimeeskonna toetamiseks ja nõustamiseks kevadsemestril </p>
        <p>3. Idee esitamine ei garanteeri mulle õppeaasta lõpuks valmis projekti </p>
        <p>4. Mõistan, et projekt on tehtud õppe-eesmärgil ning tudengid võtavad seda kui õppeprotsessi- tegu ei ole lihtsalt tasuta tööjõuga
            Peale arendust saab klient projekti endale vabaks kasutamiseks edasiarenduseks</p>
    </div>
</div>

<br><br><br>
