<br><br><br>
<p class="middleHeader">Teostatud projektid </p>
<div class="rectangle"></div>

<section>
    <br>
    <div class="gallery">
        <ks-carousel [id]="111" [images]="imagesRect" [carouselConfig]="{maxWidth: '800px', maxHeight: '400px', showArrows: false, objectFit: 'cover', keyboardEnable: true, modalGalleryEnable: true, legacyIE11Mode: false}" [previewConfig]="{visible: true, number: 5, width: 'auto', maxHeight: '150px'}">
            <div class="projected"></div>
        </ks-carousel>
    </div>
    
</section>
<br>
<br>

<mat-divider _ngcontent-c1="" class="mat-divider mat-divider-horizontal" role="separator" aria-orientation="horizontal">
</mat-divider>