body {
    color: aqua;
}

.mainText {
    font-size: 5vw;
    margin-top: 5vw;
    margin-bottom: 15vw;
}

#range-logo {
    background-image: url("../../assets/header1.jpg");
    display: block;
    text-indent: -9999px;
    height: 400px;
    width: auto;
    margin: 0 6px;
    background-size: 100%;
    background-position: 0 20%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-repeat: no-repeat;
}